* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
header {
  background-color: #6b8e23;
  padding: 20px;
  color: white;
}
body {
  background-color: #f2f2f2;
}

.visivel{
    display: flex;
}
.nao-visivel{
    display: none !important;
}
#nao-visivel{
  display: none;
}

/* ARQUIVO HEADER */

.header-login {
  background-color: white;
  margin: 70px auto;
  width: 350px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 4px lightslategray;
  height: 400px;
}
.header-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-login input {
  border: none;
}
.header-login div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid black;
}
.header-login button {
  width: 100%;
  background-color: #6b8e23;
  color: white;
  margin-top: 20px;
}

/* ARQUIVO HEADER */

/* ARQUIVO HOME */
.home-modulos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 70px auto;
}
.home-modulos div {
  width: 150px;
  height: 150px;
  margin: 10px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 5px lightslategray;
}

/* ARQUIVO HOME */

/* ARQUIVO ESTOQUE */
.exemplo {
  display: none;
}
.estoque-cad {
  height: 100px;
}

.tabela button {
  outline: none;
  width: 40px;
  height: 40px;
}
.tabela button img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.informacao {
  border: 1px solid lightslategray;
  background-color: white;
  border-radius: 10px;
  height: 250px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.informacao p,.cadastro p{
    /* background-color: red; */
    color: red;
    border-radius: 100%;
    display: flex;
    /* margin: 5px; */
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
#informacao-texto{
    margin-top: 10px;
    margin-left: 30px;
    color: black;
}
.cadastro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 450px;
  width: 600px;
  border: 1px solid black;
  background-color: white;
}
.cadastro form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.cadastro form div{
  width: 50%;
}
.cadastro form button{
  width: 50%;
}
.alteracao{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 10px 0px 10px 0px;
  height: 150px;
  min-height: 100px;  
}
.alteracao button{
  min-width: 70px;
}
.alteracao section{
  height: 60%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.alteracao div{
  margin: 5px;
}
.alteracao input{
  border: 1px solid lightslategray;
  height: 35px;
}
.alteracao .menos, .mais{
  border: 1px solid lightslategray;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ARQUIVO ESTOQUE */


/* ARQUIVO MERCADO */
.containerMercado{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}
.opcaoMercado{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
}
.mercadoPesquisa{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 400px;
  border: 2px solid lightslategray;
  border-radius: 5px;
  padding: 5px;
}
.mercadoPesquisa input{
  height: 95%;
  width: 75%;
  outline: none;
  border: none;
  padding: 5px;
}
.mercadoPesquisa p{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  cursor: pointer;
}
.mercadoPesquisa img{
  width: 50%;
}
.mercadoChat{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  cursor: pointer;
  margin-bottom: 50px;
}
.mercadoChat img{
  width: 40px;
  margin: 20px;

  margin-top: 52px;
}
.mercadoCarrinho img{
  width: 40px;
  margin: 5px;
}
.opcaoCompras{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 2px solid lightslategray;
  align-items: center;
  justify-content: center;
}
.btn-compra{
  width: 150px;
  border: 2px solid lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-weight: bolder;
  border-top: none;
  cursor: pointer;
}
.itemCompra{
  width: 100%;
}
.itemSelecao{
  width: 250px;
  padding: 30px;
}
.itemCard{
  width: 70%;
  height: 200px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  position: relative;
}
.itemCard button{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #6b8e23;
  color: white;
}
.itemFoto{
  height: 100%;
  background-color: white;
  border-radius: 5px;
}
.itemFoto img{
 width: 100%;
 height: 95%;
 border-radius: 5px;
}
.itemNome{
  font-weight: bolder;
  font-size: 25px;
  margin-left: 15px;
}
.itemTipo, .itemPreco, .itemLocalizacao{
  margin-left: 15px;
}
.ativo{
  background-color: lightslategray;
  color: white;
}
.itemLojaAnunciar{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px; 
}
.itemLojaAnunciar form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.fechar{
  color: red;
  cursor: pointer;
  padding: 5px;
}


/* ARQUIVO MERCADO */

/* ARQUIVO CHAT */

.chat{
  width: 900px;
  height: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}
.chatLista{
  width: 40%;
  border-right: 1px solid lightslategray;
  display: flex;
  flex-direction: column;
}
.chatLista div{
  border-bottom: 1px solid lightslategray;
  /* background-color: red; */
  padding: 20px;
}
.chatLista div{
  display: flex; 
  flex-direction: row;
  cursor: pointer;
}
.chatLista div img{
  margin-right: 10px;
  width: 25px;
}
.chatConversa{
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
}
.chatId{
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
}
.chatId a{
  color: #6b8e23;
}
.chatId a:hover{
  color: black;
}
.chatResposta{
  height: 70%;
  background-color: #e2e2e2;
  overflow-x: auto;
}

.chatTexto{
  height: 20%;
}
.chatComprador{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.chatComprador p{
  background-color: #6b8e23;
  padding: 5px 20px;
  border-radius: 5px 5px 0px;
  margin-right: 10px;
  color: white;
}
.chatVendedor{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chatVendedor p{
  background-color: white;
  padding: 5px 20px;
  border-radius: 5px 5px 5px 0px;
  margin-left: 10px;
  color: #6b8e23;
}
.chatTexto{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: lightslategray;
}
.chatTexto img{
  width: 40px;
  cursor: pointer;
  
}
.chatTexto textarea{
  border: none;
  outline: none;
}
.chatDia{
  text-align: center;
  color: lightslategray;
}
.telaCompra{
  width: 1200px;
  height: 600px;
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.telaCompra img{
  height: 100%;
}
.telaCompraDetalhes{
  /* border: 2px solid black; */
  width: 60%;
  height: 90%;
  padding: 10px;
  position: relative;
}
.telaCompraDetalhes div{
  display: flex;
  align-items: center;
}
.telaCompraDetalhes button{
  position: absolute;
  right: 10px;
  background-color: #6b8e23;
  color: white;
  font-weight: bolder;
  padding: 20px;
  bottom: 10px;
}
.telaDetalheQuantidade{
  display: flex;
  align-items: center;
  height: 100px;
}
.telaDetalheQuantidade p{
  margin-bottom: 0px;
  padding: 5px 10px;
  font-weight: bolder;
  cursor: pointer;
}
.telaDetalheQuantidade input{
  width: 70px;
  outline: none;
}
.telaCompraFinal{
  width: 100%;
  height: 600px;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.finalDescricao{
  width: 70%;
  background-color: white;
}
.finalPagamento{
  width: 30%;
}
.metodoPagamento{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.metodoPagamento div{
  width: 200px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
.finalDado div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.finalDado label{
  margin-bottom: 0px;
  margin-left: 5px;
}
/* ARQUIVO CHAT */